* :not(dialog) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    display: flex;
    /* justify-content: center; */
    min-height: 100vh;;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.55;
  }

#addBook {
    font-size: 1rem;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 16px;
}

#addBookDialog {
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 4px black;
}

.form {
    display: grid;
    grid-template: auto auto / auto auto;
    width: 300px;
    gap: 16px;
    justify-items: flex-start;
    padding: 24px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.form button {
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1 / 3;
    justify-self: start;
    padding: 6px;
}

.wrapper {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 12px;
    padding: 12px;
    margin-bottom: 36px;
}

.card {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
}

.card-title {
    font-size: 2rem;
    text-decoration: underline;
}

.card-author {
    font-size: 1.5rem;
}

.remove-button {
    margin-top: 36px;
}

.read {
    background-color: yellowgreen;
}