* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: rgb(31, 27, 35); */
    /* color: azure; */
    display: flex;
    /* justify-content: center; */
    min-height: 100vh;;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.form {
    display: grid;
    grid-template: auto auto / auto auto;
    width: 300px;
    gap: 10px;
    justify-items: flex-start;
    margin: 24px;
}

.form [type="button"] {
    grid-column: 1 / 3;
    justify-self: center;
}

.wrapper {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 12px;
    padding: 12px;
    margin-bottom: 36px;
}

.card {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

.card-title {
    font-size: 2rem;
    text-decoration: underline;
}

.card-author {
    font-size: 1.5rem;
}