* :not(dialog) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root {
    font-size: 16px;
    --gap: 16px;
    --primary: rgb(175, 234, 58);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 253, 255);
}

button {

    border: 1px solid black;
    padding: 6px;
    height: 30px;
    width: 100px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

button:active {
    background-color: #fff;
}

button:hover {
    /* font-weight: 600; */
    scale: 1.05;
    transition: 200ms;
}


header  {
    display: flex;
    gap: var(--gap);
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    padding: 32px;
}

h1 {
    border-bottom: 1px solid black;
    font-size: 3rem;
}

*:focus {
    outline: 2px dashed var(--primary);
    
}

::backdrop {
    backdrop-filter: blur(3px);
  }


#addBookDialog {
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 4px black;
}

.form {
    display: grid;
    grid-template: auto auto / auto auto;
    width: 300px;
    gap: var(--gap);
    justify-items: flex-start;
    padding: 16px;
    font-size: 1rem;
    align-items: center;
}

.form input:not([type="checkbox"]){
    padding: 6px;
    border-radius: 6px;
    outline: 1px solid black;
    border: none;
}

.form input:focus{
    outline: 2px dashed var(--primary);
}

input[type="checkbox"]{
    accent-color: var(--primary);
}

.dialog-buttons {
    margin-top: 16px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.wrapper {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: calc(var(--gap));
    padding: calc(var(--gap) * 2);
}

.card {
    background-color: #fff;
    border: 1px solid black;
    min-height: 250px;
    gap: calc(var(--gap) * 0.75);
    padding: calc(var(--gap) * 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.card-author {
    font-size: 1rem;
}

.card-pages {
    font-size: 0.75rem;

}

.card-buttons{
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: calc(var(--gap) * 0.5);
}

.remove-button {
    justify-self: start;
    align-self: end;
}

.read-toggle {
    justify-self: end;
    align-self: end;
}

.read {
    background-color: var(--primary);
}